*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.nav-title{
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 700;
}
.nav-menus>ul{
    display: flex;
    list-style: none;
    
}
.nav-menus li {
    margin-right: 20px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;

}
.nav-menus a{
    text-decoration: none;
}
/* banner section started here */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.banner-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    /* margin-top: 5px; */
    margin-bottom: 20px;
}
.banner-description{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

}
.btn-primary{
    color: #fff;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    margin-top: 20px;
}

